# {{ ansible_managed }}
export STORAGE_BASE_DIR='/var/vmail'
export WEB_SERVER='NGINX'
export BACKEND_ORIG='MYSQL'
export BACKEND='MYSQL'
export VMAIL_DB_BIND_PASSWD='{{ iredmail.vmailbindpass }}'
export VMAIL_DB_ADMIN_PASSWD='{{ iredmail.vmailadminpass }}'
export USE_EXISTING_MYSQL='YES'
export MYSQL_ROOT_PASSWD='{{ iredmail.mysqlpassword }}'
export MYSQL_ROOT_USER='{{ iredmail.mysqluser }}'
export MYSQL_SERVER_ADDRESS='{{ iredmail.mysqlhost }}'
export MYSQL_SERVER_PORT='{{ iredmail.mysqlport }}'
export FIRST_DOMAIN='{{ domainname }}'
export DOMAIN_ADMIN_PASSWD_PLAIN='{{ iredmail.adminpass }}'
export USE_IREDADMIN='YES'
export USE_ROUNDCUBE='YES'
export USE_SOGO='YES'
export USE_AWSTATS='YES'
export USE_FAIL2BAN='YES'
export AMAVISD_DB_PASSWD='{{ iredmail.amavisdpass }}'
export IREDADMIN_DB_PASSWD='{{ iredmail.admindbpass }}'
export RCM_DB_PASSWD='{{ iredmail.rcmdbpass }}'
export SOGO_DB_PASSWD='{{ iredmail.sogodbpass }}'
export SOGO_SIEVE_MASTER_PASSWD='{{ iredmail.sogosievepass }}'
export IREDAPD_DB_PASSWD='{{ iredmail.iredapddbpass }}'
#EOF



 
 
 
 
 

